.tl_group {padding: 5px 0; border-bottom: 1px solid #e9e9e9; background: #fafafc; }
#picker-menu a.postPicker {background-image:url("posts.svg");background-size:16px;}
.tl_post > * {margin: 8px 0}
.tl_post h2 {font-size: 1.125rem; font-weight: 700;}
.tl_post h3 {font-size: 1rem; font-weight: 700; margin: 8px 0}
.tl_post figure {margin: 0 8px 8px 0; max-width: 50%; float: left}
.tl_post img {width: 100%; height: auto}
.tl_post .post_teaser::after {content: ''; display: block; clear: both;}